<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteOpenSQL.RemoteOpenSQLManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RemoteOpenSQL.RemoteOpenSQLManager.My.MySettings>
            <setting name="TextRadioButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextPathTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="TextApplicationTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelPathTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessPathTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelRadioButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessRadioButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainTabControl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartitionSizeTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="BufferTextBox" serializeAs="String">
                <value />
            </setting>
        </RemoteOpenSQL.RemoteOpenSQLManager.My.MySettings>
    </userSettings>
</configuration>
